/* SG

# Panels/Single

@priority 1

Panels are boxes with a simple header, and an optional call-to-action. They should be used as callouts, and should typically contain a link.

Panels require a modifier tag to gain most of their style (background and text color). `panel--white`, `panel--gray` and `panel--red` are the most common.

```html_example
<div class="panel panel--red panel--dust">
    <h2 class="panel__head">A Panel</h2>
</div>
```

*/

.panel {
    @include type-space(padding, 1 .9);
    position: relative;
    flex: 1 1 auto;
    height: 22vh;

    @include mq(smalls) {
        @include type-space(padding, .5 .45);
    }
}

.panel--white {
    background-color: #fff;
    color: color(badgers) !important;
}

.panel--red {
    background-color: color(badgers);
    background-image: url('../images/dust-overlay.png');
    background-repeat: repeat;
    color: #fff !important;
}

.panel--gray {
    background-color: color(bg,dark);

    .panel__head {
        color: color(badgers);
    }
}

.panel--link.panel--white:hover {
    background-color: #fbfbfb;
    color: color(badgers, light) !important;
}

.panel--link.panel--red:hover {
    background-color: mix(color(badgers), color(badgers, light), 50%) !important;
}


.panel--dust-2 {
    background-image: url('../images/dust-overlay2.png');
}

.panel--elevated {
    box-shadow: 0 3px 26px 4px rgba(mix(color(badgers), color(type), 20%), .15);
    z-index: 1;

    &.panel--link {
        &:hover,
        &:focus {
            box-shadow: 0 2px 16px 5px rgba(mix(color(badgers), color(type), 20%), .25);
        }
    }
}

.panel--link {
    display: block;
    top: 0;
    transition: all .1s ease-out;
    width: 100%;
}

.panel--link:hover,
.panel--link:focus {
    text-decoration: none;
}

.panel--link:active {
    transform: translateY(0);
    box-shadow: 0 1px 26px -25px rgba(mix(color(badgers), color(type), 20%), .25),
        0 2px 25px -25px rgba(color(type), .25),
        0 1px 10px 2px rgba(color(type), .13);
}

.panel--flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel__head {
    text-transform: uppercase;

    @include mq(smalls){
        font-size: 4.5vw;
    }
}

.panel__head--bottom {
    bottom: 1rem;
    @include type-space(margin-bottom, 1);
    padding-right: 8%;
}

/* SG

Calls to action will receive special styling and a chevron after their content. Adding `panel--link` to the panel itself will cause the panel to react to hover events.

```html_example
<a class="panel panel--link panel--white" href="#">
    <h3 class="panel__head bar bar--large">A Panel with CTA</h3>
    <p class="panel__cta">Check it out</p>
</a>
```
*/

.panel__cta {
    @include rems(font-size, $type-h5-size);
    font-family: $secondary-font-stack;
    font-style: italic;
    font-weight: 400;
    word-break: break-all;

    @include mq(smalls) {
        @include rems(font-size, $base-font-size);
    }

    &:after {
        content: "\00a0\00BB";
    }

    .panel:hover &,
    &:hover {
        text-decoration: underline;
    }
}


/* SG
# Panels/Groups

Panels can be grouped together by wrapping them in a `panels` class. This will cause them to align in a row, with equal heights.

Adding `panel--flex` to any children will force any call-to-actions to the bottom of the parent panel.

```html_example
<div class="panels">
    <div class="panel panel--flex panel--red">
        <h4 class="panel__head bar bar--large">Panel</h4>
        <p class="panel__cta">CTA (bottom-aligned)</p>
    </div>
    <div class="panel panel--white">
        <h5 class="panel__head bar bar--mini">Panel</h5>
        <p class="panel__cta txt-small">CTA</p>
    </div>
    <div class="panel panel--flex panel--gray">
        <h4 class="panel__head bar bar--large">Panel with longer title</h4>
        <p class="panel__cta">Call to action</p>
    </div>
    <div class="panel panel--flex panel--white">
        <h4 class="panel__head bar bar--large">Another Panel</h4>
        <p class="panel__cta">Call to action</p>
    </div>
    <div class="panel panel--red">
        <h4 class="panel__head bar bar--large">Panel</h4>
        <p class="panel__cta">Call to action</p>
    </div>

</div>

```

*/

.panels {
    // display: flex;
    // flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
}
