//Launch screen-specific styles

.launch-screen {

    .hero .panel--flex {
        min-height: 24vh;
    }

    .wrap {
        padding: 2.5vh 0;
    }

    @include mq('max-height' 750px) {

        .panel,
        .panel--slide {
            @include type-space(padding, .825 1);
        }

        .tier-2 .heading--underline {
            margin-bottom: 2vh;
        }
    }

    @include mq('max-height' 650px) {

        .hero .panel__head {
            @include font-size($type-h3-size, $h3-lh);

            @include mq('small') {
                font-size: 5vw;
            }
        }

        .panel__head--bottom {
            margin-bottom: 0;
        }

        .panel,
        .panel--slide {
            @include type-space(padding, .65 .675);

            @include mq(small) {
                @include type-space(padding, .35 .3);
            }
        }

        .bar {
            margin-top: 2.5vh;

            &:before {
                font-size: 6px;
                top: -1.75vh;
            }
        }
    }

    @include mq('max-width' 640px) {

        .slider {
            margin-left: -2%;
        }

        .slider:after {
            content: " ";
            display: table;
            clear: both;
            height: 1px;
        }

        .panel--slide {
            width: 48%;
            margin: 2% 0 2% 2%;
            @include type-space(height, 6);
            float: left;

            .panel__head {
                @include font-size(18px);
            }
        }

        .panel__head--bottom {
            bottom: auto;
            position: relative;
        }
    }

    .slider {
        height: 100%;
    }

    @include mq('min-width' 641px) { //Fallback for slider not initializing
        .slider:not(.slick-initialized) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .slick-initialized {
        .panel--slide .panel__head {
            position: absolute;
        }
    }
}


.panel--slide {
    display: inline-block;
    @include type-space(margin-right, .15);
    vertical-align: bottom;
    outline: none;
    height: 100%;

    &:hover,
    &:focus {
        box-shadow:0 1px 10px -9px rgba(color(type), .25),
            0 1px 2px 1px rgba(color(type), .13);
    }

    &:active {
        box-shadow:0 1px 6px -5px rgba(color(type), .25),
            0 0 1px 1px rgba(color(type), .13);
        background-color: mix(color(bg, light), color(badgers, light), 98%);
    }
}

@include mq('max-height' 780px, 'smalls') {

    html, :root {
        font-size: 14px;
    }

    .panel__cta {
        @include font-size($type-small-size, $small-lh);
        margin-bottom: 0;
    }
}
