$hero-mq: 'max-height' 915px;

.wrap {
    @extend %clearfix;
    @extend %bigs_nine_tenths; //90%
    @extend %smallish_eleven_twelfths; //~92%
    @include type-space(padding, 1 0);
    display: block !important;
    float: none;
    margin: 0 auto;
    max-width: $max-site-width;

    @include mq(small) {
        width: 95%;
    }
}

.hero {
    display: table;
    height: 60vh;
    position: relative;
    width: 100%;

    @include mq($hero-mq) {
        height: 40vh;
    }
}

.hero__body {
    @include type-space(padding, 1 0 1);
    display: table-cell;
    max-width: 99%;
    vertical-align: middle;

    @include mq($hero-mq) {
        @include type-space(padding, .5 0 .5);
        padding: 2vh 0;
    }

    &:before,
    &:after {
        background-position: 50%;
        background-size: 100% auto;
        bottom: 0;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 60px;
    }

    &:before {
        background-image: url('../images/img_waves-left.svg');
        background-position-x: 0%;
        left: 0;
    }

    &:after {
        background-image: url('../images/img_waves-right.svg');
        background-position-x: 100%;
        right: 0;
    }

}

.hero__head {
    display: table;
    height: 30%;
    padding-bottom: 3.5%;
    padding-top: 1.5%;
    vertical-align: top;
    width: 100%;

    @include mq($hero-mq) {
        padding-top: .5%;
        padding-bottom: .5%
    }
}

.hero__logo {
    display: inline-block;
    opacity: .95;
    text-align: center;

    @include mq($hero-mq) {
        max-width: 60px;
    }

    @include mq(smalls) {
        max-width: 55px;
    }
}

.tiers {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;

    @include mq(smalls) {
        height: auto;
    }
}

.tier__1 {
    background-color: colors('bg', 'dark');
    flex: 0 1 auto;
    height: auto;
    min-height: 60vh;

    @include mq($hero-mq) {
        min-height: 47vh;
    }
}

.tier__2 {
    @include type-space(padding, 1 0 1 1);
    flex: 0 1 auto;
    vertical-align: middle;
}

.tier__3 {
    display: flex;
    flex: 0 0 auto;
    justify-self: flex-end;
    min-height: 5vh;
}
