//Create grid classes

@include grid-init();


/* SG

# Layout/Grid

@priority 1

Grids consist of a container (`.grid`) and blocks (`.grid__item`). The width of the blocks are determined by width classes (e.g. `.w-one-half`).

Grids are built on `inline-block`

```html_example
<div class="grid">
    <div class="grid__item">100%</div>
    <div class="grid__item w-half">50%</div><div class="grid__item w-half">50%</div>
    <div class="grid__item w-third">33.33%</div><div class="grid__item w-third">33.33%</div><div class="grid__item w-third">33.33%</div>
    <div class="grid__item w-half">50%</div><div class="grid__item w-quarter">25%</div><div class="grid__item w-quarter">25%</div>
</div>

<p><strong>Grid with wide gutters</strong></p>

<div class="grid grid--wide">
    <div class="grid__item w-half">50%</div><div class="grid__item w-half">50%</div>
    <div class="grid__item w-third">33.33%</div><div class="grid__item w-third">33.33%</div><div class="grid__item w-third">33.33%</div>
    <div class="grid__item w-half">50%</div><div class="grid__item w-quarter">25%</div><div class="grid__item w-quarter">25%</div>
</div>
```

*/

.grid {
    @extend %grid;
}

.grid--wide {
    @extend %grid_wide;
}

.grid--narrow {
    @extend %grid_narrow;
}

.grid--full {
	@extend %grid_full;
}

.grid > * {
	@extend %grid_reset;
}

.grid--stack {
    @include mq(smalls){
        display: block !important;

        & > .grid__item {
            width: 100%;
            flex: 1 0 auto;
        }
    }
}

.grid__item {
    flex: 1 1 auto;
    @extend %grid_item;
}

.w-whole {
    @extend %one_whole;
    flex-basis: 100%;
}

.w-half {
	@extend %one_half;
    flex-basis: 50%;
}

.w-third {
    @extend %one_third;
    flex-basis: grid-size(1,3);
}

.w-two-thirds {
    @extend %two_thirds;
    flex-basis: grid-size(2,3);
}

.w-three-quarters {
    @extend %three_quarters;
    flex-basis: grid-size(3,4);
}

.w-quarter {
	@extend %one_quarter;
    flex-basis: grid-size(1,4);
}

.grid__sidebar {
    @extend %bigs_one_quarter;
}

.grid__content {
    @extend %bigs_three_quarters;
}


/* SG

# Layout/Flex Grid

@priority 2

Adding the modifier `--flex` to any grid will give `grid__items` flex-box behavior, meaning all grid items will fill their space as needed. `grid__item-fit` will force stop the grid item from growing.

`grid--flex--fit` will prevent items from wrapping, forcing grid items to fill whatever space they're given.

`grid__item--master` and `grid__item--slave` will create grid items with less or more priority (based on their content).


*/

.flex {
    display: flex;
    flex: 1 1 auto;
}

.grid--flex {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    & > .grid__item {
        display: flex;
    }
}

.grid--flex--fit {
    flex-wrap: nowrap;
}

.grid__item--fit {
    flex-shrink: 1;
    flex-grow: 0;
}

.grid__item--fill {
    flex-grow: 1;
    flex-shrink: 1;
}

.grid--flex--column {
    flex-direction: column;
}

.grid__item--master {
    flex-shrink: .4;
    flex-grow: .85;
}

.grid__item--slave {
    flex-grow: .5;
    flex-shrink: 2;
}
