.txt-center {
    text-align: center !important;
}

.txt-left {
    text-align: left !important;
}

.txt-right {
    text-align: right !important;
}

.txt-upper {
    text-transform: uppercase !important;
}

.txt-small {
    @include rems(font-size, $type-small-size, $important: true);
    line-height: $small-lh !important;
}
